
@{
    ViewData["Title"] = "Favorites List";
}

@model List<Movie>



<h1 style="font-family:Cooper">Favorites List</h1>

<div>
    <table class="table table-hover table-dark">
        <tr>
            <th>Movie image</th>
            <th>Name of movie</th>
            <th>>Delete this favorite</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td><img sec="@Model[i].Poster" /></td>
                <td>@Model[i].Title</td>
                <td><a href="../Favorites/DeleteFavorite" class="btn btn-outline-primary">Delete this favorite: </a></td>
            </tr>
        }
    </table>
</div>

