
@{
    ViewData["Title"] = "Search";
}

@model List<Movie>

<h1>Search</h1>

<form action="../Search/Search" method="post">
    <input type="text" name="title" placeholder="Moviename" required
           oninvalid="this.setCustomValidity('Field must not be blank.')"
           oninput="this.setCustomValidity('')" />
    
    <input type="text" name="year" placeholder="Release Year" />
    
    <select name="type">
        <option value="">Filter by:</option>
        <option value="movie">Movie</option>
        <option value="series">Series</option>
        <option value="episodes">Episode</option>
    </select>
    <input type="submit" />
</form>
